div {
  outline: 1px solid red;
  resize: both;
  overflow: auto;
  container-type: size;
  height: 100px;
}
h1 {
  font-size: 10px;
}
@container (min-width: 200px) {
  h1 {
    font-size: 30px;
  }
}
@container (max-width: 200px) {
  h1 {
    font-size: 20px;
  }
}
